body{
background-color:#f4f4f4;
font-family:Arial, sans-serif;
margin:20px;
}

h1{
color:rgb(128, 0, 79);
}

h2{
color:rgb(40, 16, 177);
}

img{
width:250px;
border:4px solid black;
margin:20px;
padding:10px;
}

table{
border-collapse:collapse;
width:70%;
}

th, td{
border:1px solid black;
padding:10px;
text-align:center;
}

footer{
margin-top:30px;
}

.highlight{
background-color:lightyellow;
padding:10px;
border:1px solid gray;
}